# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
5+5

number+5

number = number + 5

print(number)

number += 4

print(number)

11
15

##### Subtraction

In [4]:
number - 5

number = number - 5

print(number)

number -= 2
print(number)

10
8

##### Multiplication

In [5]:
number2 = 5
number2*10

number2 = number2 * 10
print(number2)

number2 *= 10
print(number2)

50
500

##### Division

In [6]:
number2 = 500
number2 / 50

number2 = number2 / 50
print(number2)

number2 /= 2
print(int(number2))

10.0
5

##### Floor Division

In [7]:
odd_number = 13
odd_number // 2

odd_number = odd_number // 2
print(odd_number)

odd_number //= 2
print(odd_number)

6
3

##### Modulo

In [8]:
odd_number = 13
odd_number % 6

odd_number_remainder = odd_number % 2
print(odd_number_remainder)

odd_number %= 2
print(odd_number)

1
1

##### Exponential

In [9]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [10]:
name = "John"
print(name)

John

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print(f'This is my name: {name}')
print(f'This is my name: {name}','Smith')
print('This is my name:', name)
print('This is my name:', name, end=' Smith')

This is my name: John
This is my name: John Smith
This is my name: John
This is my name: John Smith

##### String Concatenation

In [12]:
last_name= 'Smith'
full_name= name + ' ' + last_name
print(full_name)

full_name += ' jr'
print(full_name)

full_name= (f'{name} {last_name}')
print(full_name)

John Smith
John Smith jr
John Smith

##### Type Conversion

In [13]:
fav_number = '23'
int(fav_number) - 2

type(fav_number) 

fav_number = int(fav_number)
type(fav_number)

type(str(fav_number))

str_number = str(fav_number)
print(type(str_number))

<class 'str'>

##### input()

In [14]:
my_age = input('Please enter your age: ')

Please enter your age: 60

In [15]:
my_age = int(my_age)
my_age += 1
print(my_age)

61

##### format()

In [16]:
result_string = 'You are {} {} and you are getting wiser'.format(my_age, 'John')
print(result_string)

You are 61 John and you are getting wiser

##### Old Way (python 2)

In [17]:
result_string2 = 'You are %s and you look great' %str(my_age)
print(result_string2)

You are 61 and you look great

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
car = 'What is the {}, {}, {}, and {} of your car?'.format('color', 'year', 'make', 'model')
print(car)

What is the color, year, make, and model of your car?

### If Statements

In [19]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

# if num2 == num1:
#     print('Equal Values')
# else:
#     print('Not Equal Values')
    
if num1 > num2:
    print('num1 is larger')
else:
    print('num2 is larger')

num2 is larger

##### 'is' keyword

In [20]:
new_number = 55
another_number = 55

if new_number == 55:
    print('true')

if new_number is another_number:
    print('isTrue')

true
isTrue

##### 'in' keyword

In [21]:
char_name = "Max Payne"

if "Max" in char_name:
    print("Max is in string")

Max is in string

##### 'not in' keyword'

In [22]:
nintendo_character= 'zelda'

if 'Z' not in nintendo_character:
    print('case sensitive')

case sensitive

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [23]:
user = input('type whatever you like. ')

if "p" in user:
    print("p is in the input")

type whatever you like. test

## Using 'and'/'or' with If Statements

In [24]:
num_11=11
num_12=12
num_13=10
num_14=3

if num_13 > num_14 and num_11 > num_12:
    print('both true')
    
if num_13 > num_14 or num_11 > num_12:
    print('or true')

or true

### Elif Statements

In [25]:
first_name = 'Max'

if first_name == 'Smith':
    print('name is Smith')
elif first_name == 'Max':
    print('name is Max')
elif first_name != 'Bob':
    print('name is not Bob')
else:
    print('name is not smith')

name is Max

### Else Statements

In [26]:
# see above

### For Loops

In [27]:
for num in range(5):
    print(num)
    print('hello world')
    
print('done')

0
hello world
1
hello world
2
hello world
3
hello world
4
hello world
done

In [28]:
for letter in 'John Smith':
    print(letter)
    print('test')

J
test
o
test
h
test
n
test

test
S
test
m
test
i
test
t
test
h
test

In [29]:
full_name = 'john smith'
for i in range(len(full_name)):
    print(i, ' ', full_name[i])
print('done')

0   j
1   o
2   h
3   n
4
5   s
6   m
7   i
8   t
9   h
done

##### Using 'in' keyword

In [30]:
# see above

##### Continue Statement

In [31]:
# will continue to next iteration

In [32]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [33]:
# will break out of current loop

In [34]:
for num in range(1000000):
    if num == 5:
        break
    print(num)
print('done')

0
1
2
3
4
done

##### Pass Statement

In [35]:
# mostly used as a placeholder, and will continue on same iteration

In [36]:
for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

In [37]:
if full_name == 'John Smith':
    pass

##### Double For Loops

In [38]:
for num in range(5):
    for letter in 'John Smith':
        print(num, ' ', letter)
    print('nested loop done')

0   J
0   o
0   h
0   n
0
0   S
0   m
0   i
0   t
0   h
nested loop done
1   J
1   o
1   h
1   n
1
1   S
1   m
1   i
1   t
1   h
nested loop done
2   J
2   o
2   h
2   n
2
2   S
2   m
2   i
2   t
2   h
nested loop done
3   J
3   o
3   h
3   n
3
3   S
3   m
3   i
3   t
3   h
nested loop done
4   J
4   o
4   h
4   n
4
4   S
4   m
4   i
4   t
4   h
nested loop done

In [39]:
nested_lists = [[1,3,5],[5,3,4],[10,2,12]]
for alist in nested_lists:
    current_sum=0
    for num in alist:
        current_sum+=num
    print(current_sum)

9
12
24

### While Loops

In [40]:
game_over = True

# while True:
#     print('looping')
#     if game_over == False:
#         break ----------- > forever loop

In [41]:
i = 0
while i < 5:
    i+=1
    print(i)
print('done')

1
2
3
4
5
done

##### Looping 'While True'

In [42]:
game_over = False
i=0
while True:
    if i == 10:
        game_over = True
    if game_over == True:
        break
    i+=1
    print(i, 'Game on')

1 Game on
2 Game on
3 Game on
4 Game on
5 Game on
6 Game on
7 Game on
8 Game on
9 Game on
10 Game on

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [43]:
# range(start,stop,step)
for num in range(5,10, 2):
    print(num)

5
7
9

##### len()

In [44]:
print(len('John Smith'))

10

In [45]:
full_name = 'John Smith'
for i in range(len('full_name')):
    print(i, full_name[i])

0 J
1 o
2 h
3 n
4
5 S
6 m
7 i
8 t

##### help()

In [46]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

##### isinstance()

In [47]:
print(isinstance(full_name,str))
print(isinstance(full_name,int))
print(isinstance(100,int))
print(isinstance('100',int))

if type(full_name) == str:
    print('type str')

True
False
True
False
type str

##### abs()

In [48]:
5 == abs(-5)

True

### Try and Except

In [1]:
while True:
    try:
        my_age = input('what\'s your age ')
        my_age = int(my_age)
        my_age += 1
        print(my_age) 
        break
    except:
        print('Please enter valid response in digits')

what's your age sixty
Please enter valid response in digits
what's your age 60
61

### Lists

##### Declaring Lists

In [2]:
my_list = []

##### Indexing a List

##### .append()

In [3]:
my_list.append(1)
print(my_list)

[1]

In [4]:
new_list=[3,4,1,9]
new_list.append(1)
print(new_list)

[3, 4, 1, 9, 1]

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [9]:
for num in range(1, 1000):
    if num ** 3 > 1000:
        break
    print(num**3)

1
8
27
64
125
216
343
512
729
1000

In [15]:
n = 1
while n**3 < 1000:
    print(n**3)
    n+=1

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [14]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = []
for i in range(2, 101):
    if is_prime(i):
        prime_numbers.append(i)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [19]:
users = input('What is your age? ')

users = int(users)
if users < 18:
    print('kids')
elif users < 65:
    print('adults')
else:
    print('seniors')

What is your age? 12
kids